#connect-four-grid {
    height: 100%;
    width: 100%;
}

#connect-four-grid tr td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}

.box-grid {
    width: 60%;
    margin: 0 20%;
}

#button_wrapper {
    text-align: center;
}

#game-title {
    text-align: center;
}

table tr td.red {
    background-color: red;
}

table tr td.blue {
    background-color: blue;
}